@import "materialize";
nav ul a,
nav .brand-logo {
  color: #444;
  top: 10%;
}
nav ul a {
  font-size: 1.5rem;
}
nav ul a:hover {
  background-color: #757575;
  color: #fff;
}
nav, nav .sidenav-trigger i {
  height: 84px;
  line-height: 84px;
}
nav i, nav [class^=mdi-], nav [class*=mdi-], nav i.material-icons {
  font-size: 36px;
}
p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #757575;
}

.parallax-container {
  min-height: 380px;
  line-height: 3;
  height: auto;
  color: rgba(255,255,255,.9);
}
#knowledge-button {
  margin: 5% 2%;
  border-radius: 50px;
}
.parallax-container .section {
  width: 100%;
}
#container-exp{
  padding-top: 3%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 84px;
    line-height: 84px;
  }
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.row {
  margin-bottom: 0;
}
.footer__icon {
  font-size: 36px !important;
}
// stage page
.card, .stage__title {
  border-radius: 25px 0 0 0;
}
.card-description,.card .card-title{
  font-weight: bold;
}
#card-description li{
  list-style: circle;
  margin-left: 20px;
  line-height: 2rem;
}
.stage__title {
  padding: 10px 10px;
}
.option__stage{
  & li {
    line-height: 1.8rem;
  }
  &--bold {
    font-weight: bold;
  }
}
.tarif {
  font-weight: bold;
}
// Contact page

#container__contact {
  margin-top: 15%;
  margin-bottom: 5%;
  min-height: 50vh;
}




